@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/equali');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.cdnfonts.com/css/minecraft-title');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/minecraftia');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    height: 100vh;
}

header .desktop {
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    display: flexbox;
    height: 80px;
    border-bottom: rgb(59, 59, 59) solid 1px;
    border-top: rgb(59, 59, 59) solid 1px;
    z-index: 100;
}

header .desktop::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    backdrop-filter: blur(10px);
    z-index: -1;
}

header .desktop img{
    width: 350px;
    height: auto;
    margin: 0px 60px;
}

header a {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #bcbcbc;
    display: inline-block;
    transform: translateX(-50px);
    letter-spacing: 2px;
    transition: 0.3s;
}

header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 0;
  height: 2px; 
  background: #ffffff; 
  transition: 0.3s;
}

header a:hover::after {
  width: 100%;
}

header a:hover {
    color: #ffffff;
}

main {
    background-color: rgb(35, 1, 24);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/season4_background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container h1 {
    color: #ffe600;
    font-family: minecraft title;
    animation: fade-in 2s forwards;
    text-shadow: #000000 1px 1px 10px;
}

.container a {
    margin-top: 30px;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    font-family: Minecraft title, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #ff0095 2px 2px 1px;
}

.container h1::before {
    content: "";
    display: block;
    width: 200%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
    animation: esticar 2s forwards;
}

.container p {
    color: #ffffff;
    margin-top: 0px;
    max-width: 40ch;
    font-size: 1.2rem;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #000000 2px 2px 1px;
}

.container h2 {
    color: #7289da;
    display: inline-block;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Minecraft Title', sans-serif;
    animation: fade-in 1s ease forwards, glow 2s ease infinite;
}

#play {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    padding: 10px 20px;
    color: rgb(88, 88, 88);
    font-family: minecraftia, sans-serif;
    text-shadow: none;
    animation: none;
    font-size: 1rem;
    border-radius: 0px;
    border: #000000 2px solid;
}

#play:hover {
    background-color: green;
    color: white;
    border: #ffffff 2px solid;

}

#logo {
    width: 250px;
    height: auto;
    max-width: 60%;
    margin: 20px 20px;
    margin-top: 300px;
    scale: 1.2;
    cursor: pointer;
    display: inline-block;
}

.float {
    animation: floating 3s ease-in-out infinite;
}

.flip {
    animation: flip 1s linear forwards;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#status {
    color: #ffffff;
    font-family: 'Minecraft Title', sans-serif;
    text-shadow: #000000 2px 2px 0px;
    font-size: 1.5rem;
    margin-top: -75px;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.info {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 50px;
    background-color: #000013;
    border-bottom: rgb(0, 0, 0) 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(0.7);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.info h1 {
    color: wheat;
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.info p {
    color: wheat;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.info button {
    padding: 20px 80px;
    font-family: "minecraftia", sans-serif;
    border: white 3px solid;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #000771;
    color: white;
    margin-top: 30px;
    transition: 0.1s;
}

.info button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.join {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 200px;
}

.join p {
    margin-top: 0px;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    opacity: 0;
    transition: 0.8s;
}

.join:hover p{
    opacity: 1;
    margin-top: 150px;
    transition: 0.8s;
}

.join img {
    width: 500px;
    height: auto;
    filter: brightness(1.4);
    transition: 0.8s;
    transform: translateX(-600px);
}

.join:hover img{
    transition: 0.8s;
    transform: translateX(0px);
}

.join button{
    position: relative;
    background: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0px 0px;
    font-size: 1.4rem;
    color: wheat;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.3s;
}

.join button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #000662;
    z-index: -1;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px -5px;
}

.join button:hover::before{
    height: 100%;
    transition: 0.5s;
}

.end{
    width: 100%;
    height: auto;
}

.end img{
    width: 800px;
    height: auto;
    filter: brightness(0.5);
    margin-bottom: -250px;
}

.redes{
    position: relative;
    width: 250px;
    height: auto;
    padding: 10px 10px;
    margin-top: 80px;
    z-index: 10;
    gap: 10px;
    display: flex;
}

.redes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0.8;
    border-bottom: #000662 solid 4px;
    border-right: #000662 solid 4px;
    background-color: #000000;
    z-index: -1;
}

.redes img{
    width: 50px;
    transition: 0.3s;
}
.redes img:hover{
    transform: scale(1.1);
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes bright {
    0% {
        text-shadow: #ff0000 0px 0px 0px;
    }

    50% {
        text-shadow: #ff0000 0px 0px 40px;
    }


}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes esticar {
    from {
        width: 0px;
    }

    to {
        width: 260px;
    }
}

@keyframes glow {
    0% {
        text-shadow: #ffee00 0 0 0px;
    }

    50% {
        text-shadow: 0 0 6px #eeff00;
    }
}

.header-mobile {
    display: none;
}

@media (max-width: 768px) {
    * {
        overscroll-behavior-x: none;
        scrollbar-width: none;
    }

    body {
        background-position: center;
        background-size: cover;
    }

    .container-2 {
        display: none;
    }


    header .desktop {
        display: none;
    }

    .header-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        background-color: #000000;
        overflow: hidden;
        border-bottom: rgb(59, 59, 59) solid 1px;
        transition: 0.3s;
    }

    .header-mobile a {
        transform: translate(0%, 70px);
    }

    .header-mobile a:not(.main) {
        font-size: 1.8rem;
    }

    #header.open {
        height: 250px;
    }

    #header.open a:not(.main) {
        opacity: 1;
        transform: translateY(20px);
    }

    .header-mobile .main {
        opacity: 1;
        transform: none;
    }

    .header-top {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
        transform: translate(40px, 40px);
        transition: 0.3s;
    }

    .header-top.up {
        transform: translate(40px, 0px);
    }

    #btn-open {
        width: 30px;
        height: 30px;
        background: none;
        transform: translate(-100px, -32px);
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 3rem;
        padding: 20px 10px;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: none;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .container h1 {
        font-size: 1rem;
        max-width: 70%;
    }


    @keyframes esticar-mobile {
        from {
            width: 0px;
        }

        to {
            width: 320px;
        }
    }

    .container p {
        font-size: 0.8rem;
        max-width: 70%;
    }

    .container h2 {
        font-size: 1.5rem;
        max-width: 70%;
    }

    #status {
        font-size: 1.2rem;
        top: 30px;
    }


    footer {
        margin-top: -10px
    }

    .info {
        padding: 40px 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .info h1 {
        max-width: 100%;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .info p {
        max-width: 90%;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .info button {
        padding: 15px 80px;
        font-size: 1rem;
    }

    .compras {
        padding: 40px 20px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .kits {
        flex-direction: column;
        width: 95%;
    }
}