@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/equali');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.cdnfonts.com/css/minecraft-title');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/minecraftia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/backgrounds/endingRF.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .desktop {
    position: relative;
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    display: flexbox;
    background-color: #000000;
    height: 12vh;
    border-bottom: rgb(59, 59, 59) solid 1px;
    border-top: rgb(59, 59, 59) solid 1px;
}

header a {
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Minecraft Title', sans-serif;
    color: #ffffff;
    transform: translateX(60px);
    text-shadow: #50006d 1px 1px 40px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: scale 0.3s ease, color 0.3s ease;
}

header h3 {
    width: 13ch;
    transform: translateY(35px);
    filter: brightness(1.2);
    position: absolute;
    right: 20px;
}

header a:hover {
    scale: 1.1;
    color: #ffffff;
}

header h1 {
    color: #ffffff;
    margin: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(-350px);
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container h1 {
    color: #ffe600;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards, glow 2s forwards;
    text-shadow: #000000 1px 1px 10px;
}

.container a {
    margin-top: 30px;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    font-family: Minecraft title, sans-serif;
    animation: fade-in 2s forwards, glow 2s forwards;
    text-shadow: #ff0095 2px 2px 1px;
}

.container h1::before {
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
    animation: esticar 2s forwards;
}

.container p {
    color: #ffffff;
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #000000 2px 2px 1px;
}

.container h2 {
    color: #7289da;
    display: inline-block;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Minecraft Title', sans-serif;
    animation: fade-in 1s ease forwards, glow 2s ease infinite;
}

#play {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    padding: 10px 20px;
    color: rgb(88, 88, 88);
    font-family: minecraftia, sans-serif;
    text-shadow: none;
    animation: none;
    font-size: 1rem;
    border-radius: 0px;
    border: #000000 2px solid;
}

#play:hover {
    background-color: green;
    color: white;
    border: #ffffff 2px solid;
}

#logo {
    width: 400px;
    height: auto;
    max-width: 60%;
    margin: 20px 20px;
    filter: brightness(1.4);
    scale: 1.2;
    animation: fade-in 2s ease forwards;
    cursor: pointer;
    display: inline-block;
}

.socials img {
    margin-top: 20px;
    height: 80px;
    width: 80px;
    transition: scale 0.2s ease;
    animation: fade-in 1s ease forwards;
}

.socials img:hover {
    scale: 1.1;
}

#status {
    color: #ffffff;
    font-family: 'Minecraft Title', sans-serif;
    text-shadow: #000000 2px 2px 0px;
    font-size: 1.5rem;
    margin-top: -75px;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.ct {
    font-family: minecraft title, sans-serif;
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    text-shadow: #ff0000 0px 0px 0px;
    animation: bright 1s ease infinite;
}

footer {
    width: 100%;
    height: 25vh;
    background-color: #030303;
    border-top: #ffffff 1px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer a {
    font-size: 1.2rem;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    line-height: 30px;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes bright {
    0% {
        text-shadow: #ff0000 0px 0px 0px;
    }

    50% {
        text-shadow: #ff0000 0px 0px 40px;
    }


}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes esticar {
    from {
        width: 0px;
    }

    to {
        width: 310px;
    }
}

@keyframes glow {
    0% {
        text-shadow: #7289da 0 0 0px;
    }

    50% {
        text-shadow: 0 0 6px #7289da;
    }
}

.header-mobile {
    display: none;
}

@media (max-width: 768px) {
    * {
        overscroll-behavior-x: none;
        scrollbar-width: none;
    }

    body {
        background-position: center;
        background-size: cover;
    }

    .container-2 {
        display: none;
    }


    header .desktop {
        display: none;
    }

    .header-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        background-color: #000000;
        overflow: hidden;
        border-bottom: rgb(59, 59, 59) solid 1px;
        transition: 0.3s;
    }

    .header-mobile a {
        transform: translate(0%, 70px);
    }

    .header-mobile a:not(.main) {
        font-size: 1.8rem;
    }

    #header.open {
        height: 250px;
    }

    #header.open a:not(.main) {
        opacity: 1;
        transform: translateY(20px);
    }

    .header-mobile .main {
        opacity: 1;
        transform: none;
    }

    .header-top {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
        transform: translate(40px, 40px);
        transition: 0.3s;
    }

    .header-top.up {
        transform: translate(40px, 0px);
    }

    #btn-open {
        width: 30px;
        height: 30px;
        background: none;
        transform: translate(-100px, -32px);
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 3rem;
        padding: 20px 10px;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: none;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .container h1 {
        font-size: 1rem;
        max-width: 70%;
    }


    @keyframes esticar-mobile {
        from {
            width: 0px;
        }

        to {
            width: 320px;
        }
    }

    .container p {
        font-size: 0.8rem;
        max-width: 70%;
    }

    .container h2 {
        font-size: 1.5rem;
        max-width: 70%;
    }

    #status {
        font-size: 1.2rem;
        top: 30px;
    }


    footer {
        margin-top: -10px
    }

}