@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/equali');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.cdnfonts.com/css/minecraft-title');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/minecraftia');
@import url('https://fonts.cdnfonts.com/css/rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    height: 100vh;
    background-color: #1e2124;
    justify-content: center;
}

header {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 110px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
}

header img {
    width: 200px;
    height: auto;
    margin: 0px 60px;
    position: absolute;
    left: 10px;
}

header a {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #bcbcbc;
    display: inline-block;
    transform: translateX(380px);
    margin-left: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

header a:hover::after {
    width: 100%;
}

header a:hover {
    color: #ffffff;
}

main {
    width: 100%;
    height: auto;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/raids_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container h1 {
    color: #e4e4e4;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    width: 60%;
    margin-top: 10px;
    animation: fade-in 2s forwards;
    text-shadow: #000000 2px 2px 5px;
}

.container a {
    margin-top: 30px;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    font-family: Minecraft title, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #ff0095 2px 2px 1px;
}

.line {
    content: "";
    display: block;
    width: 200%;
    margin: 0 auto;
    border-bottom: 1px solid #2600ff;
    animation: esticar 2s forwards;
}

.container p {
    color: #ffffff;
    margin-top: 0px;
    max-width: 40ch;
    font-size: 1.2rem;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #000000 2px 2px 1px;
}

.container h2 {
    color: #7289da;
    display: inline-block;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Minecraft Title', sans-serif;
    animation: fade-in 1s ease forwards, glow 2s ease infinite;
}

#play {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    padding: 10px 20px;
    color: rgb(54, 54, 54);
    font-family: minecraftia, sans-serif;
    text-shadow: none;
    animation: none;
    font-size: 1.2rem;
    border-radius: 0px;
    border: #000000 2px solid;
}

#play:hover {
    background-color: green;
    color: white;
    border: #ffffff 2px solid;

}

#logo {
    width: 200px;
    height: auto;
    max-width: 60%;
    margin: 20px 20px;
    margin-top: 350px;
    scale: 1.2;
    cursor: pointer;
    display: inline-block;
}

#status {
    color: #ffffff;
    font-family: 'Minecraft Title', sans-serif;
    text-shadow: #000000 2px 2px 0px;
    font-size: 1.5rem;
    margin-top: -75px;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.redes {
    position: relative;
    width: 190px;
    height: auto;
    padding: 10px 10px;
    margin-top: 80px;
    z-index: 10;
    gap: 10px;
    display: flex;
}

.redes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0.8;
    border-bottom: #000662 solid 4px;
    border-right: #000662 solid 4px;
    background-color: #000000;
    z-index: -1;
}

.redes img {
    width: 35px;
    transition: 0.3s;
}

.redes img:hover {
    transform: scale(1.1);
}

.mobile {
    display: none;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes bright {
    0% {
        text-shadow: #ff0000 0px 0px 0px;
    }

    50% {
        text-shadow: #ff0000 0px 0px 40px;
    }


}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes esticar {
    from {
        width: 0px;
    }

    to {
        width: 260px;
    }
}

@keyframes glow {
    0% {
        text-shadow: #c655ff 0 0 0px;
    }

    50% {
        text-shadow: 0 0 6px #c655ff;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 100%;
    }

    header {
        width: 100%;
        height: 100px;
        gap: 0px;
    }

    header img {
        position: absolute;
        width: 160px;
        left: -40px;
        height: auto;
    }

    .mobile {
        display: flex;
        background: none;
    }

    #mobile {
        position: absolute;
        right: 40px;
        padding: 10px 10px;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        z-index: 101;
    }

    aside {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: rgba(31, 27, 39, 0.8);
        z-index: 100;
        text-align: center;
        transition: left 0.3s ease-in-out;
    }

    .active {
        left: 0;
        transition: left 0.3s ease-in-out;
    }

    aside a {
        font-size: 2rem;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        width: 100%;
        margin-bottom: 20px;
        color: #ffffff;
        text-decoration: none;
        transform: translateY(200px);
    }

    header a {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: none;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .container h1 {
        font-size: 1rem;
        width: 80%;
    }


    @keyframes esticar-mobile {
        from {
            width: 0px;
        }

        to {
            width: 320px;
        }
    }

    .container p {
        font-size: 0.8rem;
        max-width: 70%;
    }

    .container h2 {
        font-size: 1.5rem;
        max-width: 70%;
    }

    #status {
        font-size: 1.2rem;
        top: 30px;
    }

}