@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/equali');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.cdnfonts.com/css/minecraft-title');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/minecraftia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    scrollbar-width: none;
}

header .desktop {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flexbox;
    background-color: #000000;
    height: 12vh;
    border-bottom: rgb(59, 59, 59) solid 1px;
    border-top: rgb(59, 59, 59) solid 1px;
}

header a {
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Minecraft Title', sans-serif;
    color: #ffffff;
    text-shadow: #50006d 1px 1px 40px;
    letter-spacing: 2px;
    font-weight: 700;
    scale: 1;
    transition: scale 0.3s ease, color 0.3s ease;
}

header a:hover {
    scale: 1.1;
    color: #ffffff;
}

header h1 {
    color: #ffffff;
    margin: 25px;
}

.container {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url(https://cdn.discordapp.com/attachments/1348280519967641652/1348281857309147218/2025-01-14_10.59.36.png?ex=68a1d4d4&is=68a08354&hm=8feebd21306d96a27ac7479728bc2d1cc3b4625ee3d1d73cded1dc0b8ee6fe71&);
    background-position: center;
    background-size: cover;
}

.content h1 {
    color: #ffffff;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards, glow 2s forwards;
    text-shadow: #000000 2px 2px 1px;
}

.content h1::before {
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
    animation: esticar 2s forwards;
}

.content p {
    color: #ffffff;
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: minecraftia, sans-serif;
    animation: fade-in 2s forwards;
    text-shadow: #000000 2px 2px 1px;
}

.content h2 {
    color: #ffffff;
    border-bottom: #ffffff 1px solid;
    display: inline-block;
    margin-top: 40px;
    font-size: 2rem;
    font-family: 'Minecraft Title', sans-serif;
    animation: fade-in 1s ease forwards;
}

.venus {
    width: 300px;
    height: 300px;
    animation: fade-in 2s ease forwards;
}

.socials img {
    margin-top: 20px;
    height: 80px;
    width: 80px;
    transition: scale 0.2s ease;
    animation: fade-in 1s ease forwards;
}

.socials img:hover {
    scale: 1.1;
}

@media (min-width: 768px) {
    .header-mobile {
    display: none;
}
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes esticar {
    from {
        width: 0px;
    }

    to {
        width: 650px;
    }
}

@keyframes glow {
    from {
        text-shadow: white 0 0 0px;
    }

    to {
        text-shadow: 0 0 6px #ffffff;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: #000000;
        border-bottom: rgb(59, 59, 59) solid 1px;
    }
    #btn-open {
        width: 30px;
        height: 30px;
        background-color: #333333;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 1rem;
        position: absolute;
        right: 20px;
        top: 35px;
        cursor: pointer;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: right;
        background-color: #000000;
        border: 1px solid rgba(255, 255, 255, 0.164);
        position: absolute;
        text-align: right;
        right: -100%;
        top: 100%;
        transition: 0.5s;
        z-index: 2;
        border-bottom-left-radius: 10px;
    }
    #menu a {
        text-decoration: none;
        color: #ffffff;
        border-bottom: rgba(255, 255, 255, 0.164) 1px solid;
        font-size: 1.7rem;
        padding: 10px 20px;
        transition: color 0.3s ease;
    }
    #menu.open {
        right: 0%;
    }
    #menu.close {
        right: -100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    body {
        height: 100%;
        overflow: hidden;
        touch-action: none;
    }
    header {
        height: 10vh;
    }

    header a {
        font-size: 3rem;
    }

    .container {
        height: 100vh;
    }

    .content h1 {
        font-size: 1rem;
    }

    .content h1::before {
        animation: esticar-mobile 2s forwards;
    }

    @keyframes esticar-mobile {
    from {
        width: 0px;
    }

    to {
        width: 320px;
    }
}

    .content p {
        font-size: 0.6rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }
}