@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/equali');
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.cdnfonts.com/css/minecraft-title');
@import url('https://fonts.cdnfonts.com/css/konkhmer-sleokchher');
@import url('https://fonts.cdnfonts.com/css/minecraftia');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1e2124;
    justify-content: center;
}

header {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 110px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
}

header img {
    width: 200px;
    height: auto;
    margin: 0px 60px;
    position: absolute;
    left: 10px;
}

header a {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #f0f0f0;
    display: inline-block;
    letter-spacing: 2px;
    transition: 0.3s;
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

header a:hover::after {
    width: 100%;
}

header a:hover {
    color: #ffffff;
}

main {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.container h1 {
    color: white;
    font-family: minecraft title, sans-serif;
    text-align: center;
}

.container p {
    font-size: 1.4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 25px;
    width: 90%;
}

.redes {
    position: relative;
    width: 190px;
    height: auto;
    padding: 10px 10px;
    margin-top: 80px;
    z-index: 10;
    gap: 10px;
    display: flex;
}

.redes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0.8;
    border-bottom: #000662 solid 4px;
    border-right: #000662 solid 4px;
    background-color: #000000;
    z-index: -1;
}

.redes img {
    width: 35px;
    transition: 0.3s;
}

.redes img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    * {
        overscroll-behavior-x: none;
        scrollbar-width: none;
    }

    header {
        width: 100%;
        height: 100px;
        gap: 0px;
    }

    header img{
        position: absolute;
        width: 150px;
        left: -40px;
        height: auto;
    }

    header a{
        font-size: 1.5rem;
        position: absolute;
        right: 40px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin-top: 20px;
        width: 90%;
        height: auto;
        min-height: 100vh;
    }

    .container p {
        text-align: left;
        font-size: 0.7rem;
    }
}